{% extends 'base.html.twig' %}

{% block title %}Edit Lead{% endblock %}

{% block body %}
    <h1>Edit Lead</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('lead_index') }}">Back to Leads</a>
{% endblock %}
